
*

#title {  
  
  width: 975px;
  height: 64px;
  background-color: rgb(12, 71, 61);
  color: white;
  display: inline-block;
  padding-bottom: 15px;
  text-indent: 15px;

    
}

#title h1 {
    text-align: "left";
    display: inline-block;
    margin-right: 45px;
    

}

#title img {
      
      display: inline-block;
      margin-left: 550px;
      border: 3px rgb(15, 90, 124) solid;
   
     
}
      
.button {
    border: 3px rgb(15, 90, 124) solid;
    color: white;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    background: linear-gradient(rgb(35, 76, 100), rgb(211, 203, 203));
    
}

#buttonBack {
    background: linear-gradient(rgb(35, 76, 100), rgb(211, 203, 203));
    width: 975px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
  


}

.pic img {
    width: 975px;
    height: 100px;
    display: inline-block;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

   }

   .box {
    height: 40px;
    width: 975px;
    background: linear-gradient(to right,rgb(19, 122, 122), rgb(114, 208, 231));
    margin: 125px 0px 0px 0px;
    padding-top: 0px;
    display: inline-block;
    
   
}

    #maincontent {
       
            display: inline-block;
            height: 800px;
            width: 600px;
            background-color:rgb(25, 77, 70);
            margin: 22px 0px 0px 300px;
            padding: 25px;
            border-radius: 50px;
          
           
    }

    .area { 
        border-radius: 50px;
        color: white;
        vertical-align: text-top;
        font-size: 12px;
        text-align: left;
        display: inline-block;
        margin: 0px 200px 0px 0px;
   
        

    }

    .rightArea {
       
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 400px 0px;
        display: inline-block;

        
    }
 
    .label {
        display: inline-block;
        margin: 0px 250px 0px 0px;
        padding: 30px;
    }

   